*.fdb_latexmk
*.tar.gz
*~
.*.sw?
INSTALL
Makefile
Makefile.in
Session.vim
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
html
html
install-sh
install-sh
latex
latex
libtool
ltmain.sh
missing
mkinstalldirs
stamp-h1
tags
test-driver
ylwrap
