autom4te.cache
Makefile
config.h
config.log
config.status
libtool
stamp-h1
tags
.*.sw?
*.tar.gz
Session.vim
*~
config.h.in
configure
aclocal.m4
Makefile.in
config.guess
config.sub
depcomp
ltmain.sh
missing
mkinstalldirs
ylwrap
