*~
autom4te.cache
config.h
config.log
config.status
html
latex
libtool
Makefile
mkinstalldirs
Session.vim
stamp-h1
.*.sw?
tags
*.tar.gz
ylwrap
html
latex
INSTALL
install-sh
Makefile.in
aclocal.m4
config.h.in
configure
install-sh
ltmain.sh
config.guess
config.sub
depcomp
missing
*.fdb_latexmk
test-driver
