.deps
.*.sw?
*.o
*.out
test_canvas
test_concat
test_enode
test_error
test_graph_common
test_hash
test_lca
test_link
test_list
test_masprintf
test_newick_parser
test_newick_scanner
test_node_set
test_nodemap
test_order_tree
test_readline
test_rnode
test_rnode_iterator
test_to_newick
test_tree
test_tree_models
test_xml_utils
