*.pyc
.deps
.*.sw?

*.o
*.lo
.libs/
address_parser.c
address_parser.h
address_scanner.c
indent_lex.c
libnw.la
newick_parser.c
newick_parser.h
newick_scanner.c
nw_clade
nw_condense
nw_display
nw_distance
nw_duration
nw_ed
nw_gen
nw_indent
nw_labels
nw_match
nw_order
nw_prune
nw_rename
nw_reroot
nw_stats
nw_support
nw_topology
nw_trim
nw_sched
